// colors
$gray-main: #999999;
$gray-light: #f8f8f8;
$intro-bg: #e88482;
$yellow: #fce38a;
$green-light: #95e1d3;
$title: #f38181;

// fonts
$font-title: "Montserrat", "Arial", sans-serif;
$title-cursive: "Kaushan Script", "Arial", cursive;

// layouts
$mobile: 659px;
$tablet: 660px;
$desktop: 1200px;
