.banner__wrapper {
  width: 100%;
  min-height: 1000px;
  background: url("../img/header-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.banner__gradient {
  padding-top: 100px;
  min-height: 1000px;
  background: linear-gradient(to bottom, #e98583, #f0d48a);
  opacity: .9;
}

.banner__inner {
  @include container;
  display: flex;
  min-height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// big main title
.banner__title {
  margin: auto;
  font: bold 150px/140px "Montserrat", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
  span {
    display: block;
  }
  span:first-child {
    font: normal 72px $title-cursive;
    text-transform: none;
  }
}

.banner__btn {
  position: relative;
  display: block;
  width: 160px;
  height: 40px;
  margin: 0 auto;
  padding: 8px 25px;
  font: normal 14px "Montserrat", "Arial", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid white;
  color: white;
  &:before {
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -30px;
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
  }
}

// for bottom slider
.banner__slider {
  width: 100%;
  margin-top: auto;
}

.banner__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner__item {
  display: inline-block;
  width: 270px;
  margin: 0 20px 0 0;
  padding: 25px 0;
  border-top: 3px solid white;
}

.banner__link {
  font: normal 18px "Montserrat", "Arial", sans-serif;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  span {
    font-weight: bold;
    font-size: 24px;
  }
}
